
# Environment variable files
.env

# Virtual Environment files
**/venv

# The compilation cache
**/__pycache__

# The logging files
*.log

# The residual files
**/store

# Main development running file
main.dev.py